
@{
    List<MenuAdmin> arr_menu = new List<MenuAdmin>() {
        new MenuAdmin {
            name = "QL nhân viên",
            link = "../admin/user"
        },
        new MenuAdmin{
            name ="QL Cá thể ",
            link ="../admin/user"
        },
        new MenuAdmin{
            name = "QL Loại cá thể",
            link ="../admin/user"
        },
        new MenuAdmin{
            name = "QL Chuồng",
            link ="../admin/user"
        },
        new MenuAdmin{
            name = "QL Lệnh khám",
            link ="../admin/user"
        },
       new MenuAdmin {
            name = "QL Thông tin liên hệ",
            link ="../admin/user"
        },
        new MenuAdmin {
            name = "QL giao dịch",
            link ="../admin/user"
        },
        new MenuAdmin {
            name = "QL tin tức",
            link = "../admin/user"
        }
    };   
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    @* admin *@
    <link rel="stylesheet" href="~/css/backend/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/backend/login.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

</head>
<header>
    <nav class="navbar">
        <div class="container-fluid">
            <button b-f1fa7youn7="" class="navbar-toggler collapsed" type="button">
                <span b-f1fa7youn7="" class="navbar-toggler-icon"></span>
            </button>
            <div class="logo-farm">
                <a href="~/">Farm</a>
                
            </div>
            <div class="navbar-collapse">
            
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a href="~/">Trang chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Introduce">Giới thiệu</a>
                    </li>
                        <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="News">Tin tức</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact">Liên hệ</a>
                    </li>
                </ul>
            </div>

            <div class="authenticate">
                @{
                    if(ViewBag.nameSession != null){
                        if(ViewBag.nameSession != ""){
                            <p class="toggle-logout">@ViewBag.nameSession</p> 
                            <div class="box-logout"><a asp-controller="Auth" asp-action="Logout">Đăng xuất</a></div>
                        }else{
                            <p>name log</p>
                        }
                    }else{
                        <a asp-controller="Auth" asp-action="Login" >Đăng nhập</a> 

                    } 
                    
                }
            </div>
        </>
    </nav>
</header>
     <div class="container-admin">
        <section class="all-admin-manage">
            <div class="nav-menu">
                <ul>
                @foreach(var item  in arr_menu){
                    <li>
                        <a href="@item.link">@item.name</a>
                    </li>
                }     
                </ul>
            </div>
            <div class="content-admin">
                @RenderBody()
            </div>
        </section>
     </div>
<script src="~/js/owl_carousel.js" asp-append-version="true"></script> 
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)


